.menu {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: space-around;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dotted {
  flex-grow: 1;
  border-bottom: 1px dotted black;
  height: 1px;
}
